
/* Fill up entire page */
 html, body {
    margin: 0;
    height: 100%;
}
main {
    border-color: #FFFFFF;
    border-style: dashed;
    margin: 20px;
    padding: 20px;
}

.wrapper{
 	/*background:#F0F0F0;*/
  background: linear-gradient(black, white);
 	padding: 20px;
 	border-bottom-color: #F0F0F0;
 }

/* No header  for now*/
 .heading{
 	height:0px;
 	background:#F0F0F0;
 	padding: 1px;
 	text-align: center; 
 	color:black;
 	font-size:10pt;
 }

/* No navigation for now*/
 .navigation{
 	background:#F0F0F0;
 }


 .content{
 	
 	min-height:400px;
 	background:#F0F0F0;
 	width: 70%;
 	float:right;
    
 }

 .sidebar{
 	margin: 0;
 	width:auto;
 	height:auto;
 	color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal;
      
 
 	 /*
    font-family: Helvetica, Arial, sans-serif;	float:left;
    */
   
   

/*padding: 5px;
 	color:#000000;
 	background: #F0F0F0;*/
 }

 .footer{
 	clear:both;
 	font-size:9pt;
 	letter-spacing: 1px;
 	margin: 0;
 	background:#ff5050;
 	width:auto;
 	height:5%;
 	color:white;
 	text-align: center;
 	padding:20px;
 }
