
 .wrapper{
 	width:auto;
 	height:auto;
 	background:black;
 	margin: 0 auto 0 auto;
 }

 .heading{
 	height:100px;
 	background:black;
 	padding: 17px;
 	text-align: center; 
 	color:white;
 	font-size:20pt;
 }

 .navigation{
 	height:60px;
 	padding: 17px;
 	color: white;
 	background:#ff5050;
 }

 .content{
 	min-height:400px;
 	background:#ddd;
 	width: 70%;
 	padding: 10px;
 	float:left;
 }

 .sidebar{
 	width:26%;
 	height:auto;
 	padding: 10px;
 	float:right;
 	color:white;
 	background: black;
 	min-height:auto;
 }

 .footer{
 	clear:both;
 	background:#ff5050;
 	height:5%;
 	color:white;
 	text-align: center;
 	padding:20px;
 }
